# macOS
.DS_Store

# Node.js (frontend & backend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
frontend/dist/
frontend/.vite/
backend/dist/
mysql/data/

# Coverage & caches
coverage/
.cache/
*.cache

# Env & local configs
.env
.env.*
.local
frontend/.env
backend/.env

# Logs
logs/
*.log
backend/*.log
frontend/*.log

# Misc
.turbo/
.eslintcache
.vscode/
